@font-face {
  font-family: 'Roboto Slab';
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
  font-family: 'Roboto Slab', Roboto, sans-serif;
  color: #222;
}

footer {
  margin-top: 5em;
  padding: 1em;
  background: #eee;
}

.hello {
  margin-top: 6em;
  margin-bottom: 10em;
}

.year {
  margin-top: 3em;
  margin-bottom: 1em;
  width: 100%;
  background: #ddd;
  display: flex;
  justify-content: center;
}


img {
  max-width: 100%;
  max-height: 100%;
}
img.icon {
  max-height: 35px;
}


.project-item > .title {
  grid-area: title;
}

.project-item > .url-list {
  grid-area: url-list;
  display: grid;
  grid-template-columns: repeat(3, 40px) auto;
  grid-template-areas:
    "src demo video .";
}
.project-item > .url-list div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-item > .url-list > .source-code {
  grid-area: src;
}
.project-item > .url-list > .interactive-demo {
  grid-area: demo;
}
.project-item > .url-list > .recording {
  grid-area: video;
}

@media (max-width: 999px) {
  .project-item > .screenshot {
    grid-area: screenshot;
    display: flex;
    justify-content: center;
  }
  #self-img-container {
    height: 400px;
    display: unset;
  }
}
@media (min-width: 1000px) {
  .project-item > .screenshot {
    grid-area: screenshot;
  }
  #self-img-container {
    height: 800px;
  }
}

.project-item > .screenshot-pair > .left {
  grid-area: left;
}
.project-item > .screenshot-pair > .right {
  grid-area: right;
}
.project-item > .screenshot-pair {
  grid-area: screenshot;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "left right";
}

.project-item > .content {
  grid-area: content;
}

.project-item > .tech-list {
  grid-area: tech-list;
  background: #eee;
  padding: 0.5em;
}

.project-item * {
  margin: 0;
}

.project-item {
  display: grid;
  border: 0.4em solid #444;
  margin-bottom: 3em;
  padding: 1em 0.5em 1em 0.5em;
  grid-row-gap: 10px;
  grid-template-rows: auto 40px auto fit-content(40px) 1fr;
  grid-template-areas:
    "title"
    "url-list"
    "content"
    "screenshot"
    "tech-list"
}
@media (min-width: 1000px) {
  .project-item {
    grid-column-gap: 10px;
    grid-template-rows: auto 40px auto fit-content(40px) 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "title screenshot"
      "url-list screenshot"
      "content screenshot"
      "tech-list screenshot"
      ". screenshot"
    }
}


#self-img-container {
  border: 2px solid #666;
  overflow: scroll;
}

#self-img-container noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#self-img-container img {
  max-height: none;
}


#hello-there-url {
  opacity: 0;
}

progress {
  min-width: 100%;
}
